{% extends "auth/base_auth.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Le hemos enviado un correo electrónico. Si no lo ha recibido, por favor revise su carpeta de correo no deseado. En caso contrario contacta con nosotros si no lo recibes en unos minutos.{% endblocktrans %}</p>
</div>
{% endblock %}
