{% extends "base.html" %}
{% block title %}
Examenes de tránsito
{% endblock title %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Exámenes /</span> Tránsito</h4>
    <div class="card mb-4">
        <h5 class="card-header">Lista de exámenes para tránsito</h5>
    <div class="card-body">
    <div class="row">




    



<div class="nav-align-top mb-4">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                      <li class="nav-item">
                        <button
                          type="button"
                          class="nav-link active"
                          role="tab"
                          data-bs-toggle="tab"
                          data-bs-target="#navs-justified-home"
                          aria-controls="navs-justified-home"
                          aria-selected="true"
                        >
                          <i class="tf-icons bx bx-home"></i>Todos los exámenes
                          <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-primary">{{object_list.count}}</span>
                        </button>
                      </li>
                      <li class="nav-item">
                        <button
                          type="button"
                          class="nav-link"
                          role="tab"
                          data-bs-toggle="tab"
                          data-bs-target="#navs-justified-profile"
                          aria-controls="navs-justified-profile"
                          aria-selected="false"
                        >
                          <i class="tf-icons bx bx-user"></i> Examenes realizados
                          <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-primary">{{examenes_realizados.count}}</span>

                        </button>
                      </li>
                     
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="navs-justified-home" role="tabpanel">

                            <div class="demo-inline-spacing mt-3">
                            <ul class="list-group">


              <div class="card">
           
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Examen</th>
                        <th>Categoría</th>
                        <th>Total de preguntas</th>
                        <th>Creditos</th>

                        
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% for obj in object_list %}
                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{forloop.counter}}</strong></td>
                        <td><a href="{% url 'examen:realizar-examen' obj.pk %}">Examen - {{obj.pk}}</a></td>
                        {% if obj.categoria %}
                          <td>{{obj.categoria}}</td>
                        {% else %}
                          <td>Sin categoría</td>
                        {% endif %}
                        <td>{{obj.preguntas.count}}</td>
                        <td><span class="badge bg-success">{{obj.costo}}</span></td>
                        
                      </tr>
                    {% endfor %}
                      
                      
                      
                    </tbody>
                  </table>
                </div>
            </div>

                        
                                {% comment %} <span class="badge bg-success">2</span>
                                <span class="badge bg-danger rounded-pill">3</span> {% endcomment %}
                            </ul>
                            </div>
                 



                      </div>
                      <div class="tab-pane fade" id="navs-justified-profile" role="tabpanel">
                        




                        <div class="card">
           
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Examen</th>
                        <th>Categoría</th>
                        <th>Fecha</th>
                        <th>Total de preguntas</th>
                        <th>Creditos</th>
                        <th>Resultado</th>
                        
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                   {% for examen in examenes_realizados|dictsortreversed:"created_at" %}
                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{forloop.counter}}</strong></td>
                        {% comment %} <td><a href="{% url 'examen:realizar-examen' examen.pk %}">Examen - {{examen.pk}}</a></td> {% endcomment %}
                        {% comment %} Aqui va un enlace al detalle del examen realido {% endcomment %}
                        <td><a href="{% url 'examen:detalle-examen' examen.pk %}">Examen - {{examen.pk}}</a></td>
                        {% if examen.categoria %}
                          <td>{{examen.categoria}}</td>
                        {% else %}
                          <td>Sin categoría</td>
                        {% endif %}
                        
                        <td>{{examen.created_at}}</td>

                        <td>{{examen.preguntas_respondidas.count}}</td>
                        <td>{{examen.costo}}</td>
                        <td><span class="badge bg-primary">{{examen.resultado}} pts</span></td>
                        
                      </tr>
                    {% endfor %} 
                      
                      
                      
                    </tbody>
                  </table>
                </div>
            </div>





                      </div>
                 
                    </div>
                  </div>



    </div>
    </div>
    </div>
</div>

{% endblock content %}