{% extends "base.html" %}
{% load examen_extras %}
{% block title %}
Examen
{% endblock title %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Exámenes / Tránsito / </span>Exámen {{object.pk}} </h4>
<div class="card mb-4">
<h5 class="card-header">Exámen {{object.pk}}</h5>


<div class="card-body">
<div class="row">
<div class="col-xl-12">
   
    



    <form class="row g-3 needs-validation" method="post">
        {% csrf_token %}
        <input type="hidden" name="examen" value="{{examen.pk}}">
        <input type="hidden" name="usuario" value="{{request.user.pk}}">


        {% comment %} <div class="card mb-4"> {% endcomment %}
                    <!-- Checkboxes and Radios -->
                    

        {% for pregunta in preguntas %}
            <h5 class="card-header">{{forloop.counter}}: {{pregunta}}</h5>

            <small class="text-light fw-semibold">Respuestas</small>
            {% for respuesta in pregunta|respuestas %}
            
                      <div class="row gy-3">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="{{pregunta.pk}}-{{respuesta.pk}}" name="respuesta_ok_{{pregunta.pk}}"  value="{{pregunta.pk}}-{{respuesta.id}}" required>
                                <label class="form-check-label" for="{{pregunta.id}}-{{respuesta.id}}">{{forloop.counter}} - {{respuesta}} (radio-{{pregunta.id}}-{{respuesta.id}})</label>
                            </div> 
                            {% comment %} <div class="col-md">
                                <div class="form-check mt-3">
                                    <input
                                    id="{{pregunta.pk}}-{{respuesta.pk}}"
                                    name="respuesta_ok_{{pregunta.pk}}"
                                    class="form-check-input"
                                    type="radio"
                                    value="{{pregunta.pk}}-{{respuesta.id}}"
                                    required
                                    />
                                    <label class="form-check-label" or="{{pregunta.id}}-{{respuesta.id}}"> {{respuesta}} </label>
                                </div>
                            </div> {% endcomment %}
                            {% comment %} <div class="form-check">
                                <input type="radio" class="form-check-input" id="{{pregunta.pk}}-{{respuesta.pk}}" name="respuesta_ok_{{pregunta.pk}}"  value="{{pregunta.pk}}-{{respuesta.id}}" required>
                                <label class="form-check-label" for="{{pregunta.id}}-{{respuesta.id}}">{{forloop.counter}} - {{respuesta}} (radio-{{pregunta.id}}-{{respuesta.id}})</label>
                            </div> {% endcomment %}
                
                    </div>
       
            {% endfor %}
            <hr class="m-0" />

            {% comment %} </div> {% endcomment %}
        {% endfor %}

        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
    </form>






</div>
</div>
</div>
</div>
</div>



{% endblock content %}
