{% extends "base.html" %}
{% load examen_extras %}
{% block title %}
Examen
{% endblock title %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Exámenes / Tránsito / </span>Exámen {{object.pk}} </h4>
<div class="card mb-4">
<h5 class="card-header">Exámen {{object.pk}}</h5>


<div class="card-body">
<div class="row">
<div class="col-xl-12">
   
    

{% for pago in object_list %}
    <a href="{% url 'perfil:detalles-pago' pago.pk %}">
        {{pago}}
    </a><br>
{% endfor %}







</div>
</div>
</div>
</div>
</div>



{% endblock content %}
